@font-face {
    font-family: 'montserrat';
    src: url('/fonts/montserrat-regular-webfont.woff2') format('woff2'),
    url('/fonts/montserrat-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserrat';
    src: url('/fonts/montserrat-semibold-webfont.woff2') format('woff2'),
    url('/fonts/montserrat-semibold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    color: white;
    background-color: #191b22;
    font-family: "montserrat", sans-serif;
    font-weight: normal;
}

a, a:visited {
    text-decoration: none;
    color: white;
}

.header {
    position: fixed;
    top: 0;
    display: grid;
    grid-template-areas: "c";
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #808080;
    z-index: 10;
}

.header-link {
    place-self: center;
    grid-area: c;
}

.logo {
    width: 300px;
    height: 50px;
    padding: 10px;
}

.link-button {
    margin: 1vh clamp(5px, 0.5vw, 20px);
    width: 18vw;
    min-width: 300px;
    height: auto;
    border: 3px solid rgba(255, 255, 255, 0);
}

.link-button:hover {
    border: 3px solid #808080;
    border-radius: 25%;
}

.footer {
    text-align: right;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    border-top: 1px solid #808080;
    z-index: 10;
}

.social-logos {
    padding-right: 2vw;
}

.social-logo {
    height: 40px;
    width: 40px;
    margin: 15px 15px 5px;
}

.not-found-content {
    font-size: 10vw;
    text-align: center;
    top: 40vh;
    position: fixed;
    width: 100%;
}

.error-content {
    font-size: 10vw;
    text-align: center;
    top: 40vh;
    position: fixed;
    width: 100%;
}