.gallery-wrapper {
      top: 70px;
  bottom: 50px;
    width: 100%;
    position: fixed;
  overflow-y: scroll;
}

.gallery-item {
    width: 280px;
    height: 280px;
    place-self: center;
    text-align: center;
    padding: 10px;
  position: relative;
  display: none;
}

.gallery-image {
    max-width: 260px;
    max-height: 260px;
  margin: auto;
    overflow-y: clip;
    border: 3px solid white;
    z-index: 1;
  position: relative;
}

.big-image-wrapper {
  top: 70px;
  bottom: 50px;
  position: fixed;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.big-image-backer {
  background-color: white;
  opacity: 30%;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9998;
}

.big-image {
  max-width: calc(100vw - 40px);
  max-height: calc(100vh - 180px);
  opacity: 100%;
  margin: auto;
  z-index: 9999;
}

.download {
    width: 50px;
    height: 50px;
    z-index: 9997;
    position: absolute;
    bottom: 25px;
    right: 20px;
}

.gallery-controls {
  position: fixed;
  bottom: 60px;
  width: 100%
}

.nav-button {
    width: 50px;
    height: 50px;
    margin: 30px;
}

#previous-button {
    float: left;
}

#next-button {
    float: right;
}

.gallery {
    display: grid;
    grid-template-areas:
        "a"
        "b"
        "c"
        "d"
        "e"
        "f"
        "g"
        "h"
        "i"
        "j";
}

@media screen and (min-width: 1500px) {
    .gallery {
        display: grid;
        grid-template-areas:
            "a b c d e"
            "f g h i j";
    }
}

@media screen and (min-width: 1200px) and (max-width: 1499px) {
    .gallery {
        display: grid;
        grid-template-areas:
            "a b c d"
            "e f g h"
            ". i j .";
    }
}

@media screen and (min-width: 900px) and (max-width: 1199px) {
    .gallery {
        display: grid;
        grid-template-areas:
            "a b c"
            "d e f"
            "g h i"
            ". j .";
    }
}

@media screen and (min-width: 600px) and (max-width: 899px) {
    .gallery {
        display: grid;
        grid-template-areas:
            "a b"
            "c d"
            "e f"
            "g h"
            "i j"
    }
}

#gallery-item-0 {
    grid-area: a;
}

#gallery-item-1 {
    grid-area: b;
}

#gallery-item-2 {
    grid-area: c;
}

#gallery-item-3 {
    grid-area: d;
}

#gallery-item-4 {
    grid-area: e;
}

#gallery-item-5 {
    grid-area: f;
}

#gallery-item-6 {
    grid-area: g;
}

#gallery-item-7 {
    grid-area: h;
}

#gallery-item-8 {
    grid-area: i;
}

#gallery-item-9 {
    grid-area: j;
}
