.gallery-wrapper {
    top: 70px;
    bottom: 50px;
    width: 100%;
    position: fixed;
    overflow-y: scroll;
    display: grid;
    grid-template-areas: "c";
}

.gallery-item {
    width: 280px;
    height: 280px;
    place-self: center;
    text-align: center;
    padding: 10px;
    position: relative;
    display: none;
    margin-bottom: 24px;
    grid-template-areas: "c";
}

.gallery-folder {
    max-width: 260px;
    max-height: 260px;
    overflow-y: clip;
    z-index: 1;
    position: relative;
    place-self: center;
    grid-area: c;
}

.gallery-image {
    max-width: 260px;
    max-height: 260px;
    margin: auto;
    overflow-y: clip;
    filter: drop-shadow(0 0 0.75rem crimson);
    z-index: 1;
    position: relative;
    place-self: center;
    grid-area: c;
}

.gallery-title {
    text-shadow: 2px 2px crimson;
    font-weight: bold;
}

.big-image-wrapper {
    top: 0;
    bottom: 0;
    position: fixed;
    width: 100vw;
    display: flex;
    justify-content: center;
}

.big-image-backer {
    background-color: white;
    opacity: 30%;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9998;
}

.big-image {
    max-width: calc(100vw - 40px);
    max-height: calc(100vh - 180px);
    opacity: 100%;
    margin: auto;
    z-index: 9999;
}

.download {
    width: 50px;
    height: 50px;
    z-index: 9997;
    position: absolute;
    bottom: 25px;
    right: 20px;
}

.item-link-img {
    width: 50px;
    height: 50px;
    z-index: 9997;
    position: absolute;
    bottom: 25px;
    left: 20px;
}

.nav-control {
    height: 50px;
    width: calc(98vw - 210px);
    float: left;
}

.nav-button {
    float: right;
    height: 40px;
    width: auto;
    margin: 5px 20px;
    display: inline-block;
}

#next-button {
    float: right;
    height: 50px;
    width: 80px;
    display: none;
}

#nothing-here {
    text-align: center;
    display: none;
    grid-area: c;
    place-self: center;
}

#gallery {
    display: none;
    grid-area: c;
    place-self: center;
    grid-template-areas:
        "a"
        "b"
        "c"
        "d"
        "e"
        "f"
        "g"
        "h"
        "i"
        "j";
}

@media screen and (min-width: 1500px) {
    #gallery {
        grid-template-areas:
            "a b c d e"
            "f g h i j";
    }
}

@media screen and (min-width: 1200px) and (max-width: 1499px) {
    #gallery {
        grid-template-areas:
            "a b c d"
            "e f g h"
            ". i j .";
    }
}

@media screen and (min-width: 900px) and (max-width: 1199px) {
    #gallery {
        grid-template-areas:
            "a b c"
            "d e f"
            "g h i"
            ". j .";
    }
}

@media screen and (min-width: 600px) and (max-width: 899px) {
    #gallery {
        grid-template-areas:
            "a b"
            "c d"
            "e f"
            "g h"
            "i j"
    }
}

#gallery-item-0 {
    grid-area: a;
}

#gallery-item-1 {
    grid-area: b;
}

#gallery-item-2 {
    grid-area: c;
}

#gallery-item-3 {
    grid-area: d;
}

#gallery-item-4 {
    grid-area: e;
}

#gallery-item-5 {
    grid-area: f;
}

#gallery-item-6 {
    grid-area: g;
}

#gallery-item-7 {
    grid-area: h;
}

#gallery-item-8 {
    grid-area: i;
}

#gallery-item-9 {
    grid-area: j;
}

#single-item-wrapper {
    display: none;
    grid-area: c;
    place-self: center;
    grid-template-areas: "img"
                         "save";
}

#single-image {
    max-width: 80vw;
    max-height: 60vh;
    grid-area: img;
    place-self: center;
    filter: drop-shadow(0 0 0.75rem crimson);
}

#single-image-download {
    grid-area: save;
    place-self: center;
    height: auto;
}

#single-image-download-img {
    max-width: 300px;
    width: 50vw;
    height: auto;
}