li {
    margin: 10px 0;
}

.index-content {
    top: 70px;
    bottom: 60px;
    width: 100%;
    position: fixed;
    overflow-y: scroll;
}

.license {
    font-family: Courier new, monospace;
    padding: 20px;
}

.index-buttons {
    text-align: center;
    width: 100%;
    padding-top: 5vh;
    margin-bottom: 15px;
}

#search {
    display: block;
    text-align: center;
}

#search-input {
    border-radius: 15px;
    border: 3px solid #808080;
}

#type-filter {
    border-radius: 15px;
    border: 3px solid #808080;
}

.search-label {
    font-size: 2rem;
    font-weight: 700;
}

hr {
    width: 60vw;
    color: white;
}

#tags {
    display: none;
    text-align: center;
    width: 80vw;
    margin: 15px auto;
}

.tag-wrapper {
    padding: 5px 10px;
    font-weight: bold;
    font-size: 1.5rem;
    text-decoration: underline;
    display: inline-block;
}

