li {
    margin: 10px 0;
}

.index-content {
    top: 70px;
    bottom: 60px;
    width: 100%;
    padding-left: 10px;
    position: fixed;
    overflow-y: scroll;
}

.license {
    font-family: Courier new, monospace;
    padding: 20px;
}

.index-buttons {
    text-align: center;
    width: 100%;
    padding-top: 5vh;
    margin-bottom: 15px;
}

.index-button-wrapper {
    width: 18vw;
    min-width: 300px;
    height: auto;
}

.index-button {
    height: 45px;
    width: auto;
    padding-left: 15px;
    padding-top: 15px;}

#search {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.search-chunk {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 7px 0;
}

#search-input {
    border-radius: 15px;
    border: 3px solid #808080;
    font-size: 2rem;
    width: 35vw;
}

#type-filter {
    border-radius: 15px;
    border: 3px solid #808080;
    font-size: 2rem;
    width: 6em
}

.search-label {
    font-size: 3.5vw;
    font-weight: 700;
    margin-right: 5px;
}

hr {
    width: 60vw;
    color: white;
}

#tags {
    display: none;
    text-align: center;
    width: 80vw;
    margin: 15px auto;
}

.tag-wrapper {
    padding: 5px 10px;
    font-weight: bold;
    font-size: 1.5rem;
    text-decoration: underline;
    display: inline-block;
}

