.index-content {
    top: 70px
  bottom: 50px;
    width: 100%;
    position: fixed;
  overflow-y: scroll;
}

.intro {

}

.license {
    font-family: Courier new, monospace;
    padding: 20px;
}

.requests {

}

.index-buttons {
    text-align: center;
    width: 100%;
    padding-top: 5vh;
}



